body, html {
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #333;
}
h1 {
}
h1 strong {
	font-weight: 900;
}
h2 {
	line-height: 20px;
	margin: 0;
	font-size: 44px;
	font-weight: 300;
	margin-bottom: 20px;
	color: #666;
}
h3 {
	font-size: 20px;
	font-weight: 600;
}
h4 {
	color: #666;
	font-size: 28px;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 24px;
}
p {
	font-family: 'Open Sans', sans-serif;
	color: #888;
	line-height: 24px;
}
a {
	color: #71bd46;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
	list-style: none;
}
hr {
	height: 2px;
	width: 60px;
	background: #71bd46;
	position: relative;
	border: 0;
	margin: 30px 0 0 0;
}
/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	font-size: 22px;
	color: #ddd;
	font-weight: 700;
}
#menu a.navbar-brand i.fa {
	color: #88bb45;
}
#menu.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	color: #bbbbbb;
	font-size: 12px;
	letter-spacing: 1px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #71bd46;
}
.on {
	background-color: #222222 !important;
	padding: 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #71bd46 !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #71bd46;
	border-color: #71bd46;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #FFF;
}
.section-title {
	padding-bottom: 50px;
}


/* Home Style */
header {
	background: url(../img/background/background3.jpg) no-repeat bottom center;
	/* background: url(../img/slideshow/back3.jpg) no-repeat bottom center; */
	background-size: cover;
	color: #cfcfcf;
	position: relative;
	height: 100%;
}
header p {
	color: rgba(255,255,255,0.5);
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 60px;
	padding: 0 4px;
}
.intro-text {
	position: relative;
	padding-top: 250px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 200px;
}
.intro-text H1 {
	font-size: 60px;
	color: #eeeeee;
	font-weight: 600;
}
.color {
	color: #71bd46;
	font-weight: 700;
}
.btn-default {
	color: #71bd46;
	font-family: 'Open Sans', sans-serif;
	background-color: transparent;
	border: 0.5px solid #71bd46;
	border-radius: 4px;
	margin: 0 4px;
	font-size: 16px;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	background-color: #71bd46;
	border: 1px solid #71bd46;
	color: #eeeeee;
}
/* About Section */
#about-section {
	padding: 100px 0;
	background-color: #f6f6f6;
}
#about-section h4 {
	border-bottom: 1px solid #b8dea2;
	padding-bottom: 20px;
	display: inline-block;
}
#about-section p {
	margin-top: 20px;
	margin-bottom: 30px;
}
/* Team Section */
#team-section {
	padding: 100px 0;
}
.section-title.center {
	padding: 30px 0;
}
#team-section h3 {
	border-top: 1px solid #b8dea2;
	padding-top: 20px;
	display: inline-block;
}
img.team-img {
	width: 180px;
	height: 180px;
	border: 0;
	transition: all 0.5s;
	margin: 0;
}
#team-section .thumbnail {
	background: transparent;
	border: 0;
}
#team-section .thumbnail .caption {
	padding: 0;
}
/* Services Section */
#services-section {
	padding: 100px 0;
}
#services-section h4 {
	border-bottom: 1px solid #b8dea2;
	padding-bottom: 20px;
	display: inline-block;
}
.space {
	margin-top: 40px;
}
#services-section i.fa {
	font-size: 36px;
	margin-right: 20px;
	color: #71bd46;
	padding-bottom: 10px;
	display: block;
}
/* Gallery Section
==============================*/
#works-section {
	padding: 100px 0;
	background-color: #f6f6f6;
}
.categories {
	padding-bottom: 30px;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
}
ol.type li a {
	color: #888;
}
ol.type li a.active {
	color: #71bd46;
	border-bottom: 1px solid #b8dea2;
	padding-bottom: 8px;
}
ol.type li a:hover {
	color: #71bd46;
	border-bottom: 1px solid #b8dea2;
	padding-bottom: 8px;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin-bottom: 30px;
}


.portfolio-item .hover-bg {
	height: 200px;
	overflow: hidden;
	position: relative;
}

.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: #ffffff;
	background: rgba(0, 0, 0, 0.66);
	padding-top: 25%;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	color: #f6f6f6;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
/* Contact Section */
#contact-section {
	padding: 20px 0;
	background-color: #f6f6f6;
}
#contact-section form {
	padding: 30px 0;
}
#contact-section i.fa {
	color: #71bd46;
	margin-right: 20px;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact-section .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact-section .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#contact-section .btn {
	background: transparent;
	border: 1px solid #71bd46;
	border-radius: 4px;
	padding: 10px 20px;
	margin-top: 20px;
	color: #71bd46;
	font-size: 16px;
}
#contact-section .btn:hover, #contact-section .btn:focus {
	background: #71bd46;
	color: #fff;
}
#contact-section .text-danger {
	color: #cc3300;
	text-align: left;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
/* Social Section */
#social-section {
	padding: 30px 0;
	background-color: #fff;
}
#social-section .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#social-section .social i.fa {
	font-size: 24px;
	padding: 4px 5px;
	color: #71bd46;
	transition: all 0.5s;
}
#social-section .social i.fa:hover {
	color: #666;
}
/* Footer */
#footer {
	background-color: #222222;
	color: #777;
	padding: 10px 0 20px 0;
}
#footer p {
	font-size: 13px;
	margin-top: 0px;
}
#footer a {
	color: #aaa;
}
#footer a:hover, #footer a:focus {
	text-decoration: none;
	color: #71bd46;
}

@media (max-width: 768px) {
.content {
	padding: 40% 0 0;
}
}

@media (max-width: 603px) {
#menu.navbar-default {
	background-color: rgba(0, 0, 0, 0.7);
}
label {
	float: none !important
}
.hover-bg .hover-text {
	padding: 15% 10%;
}
}

/* Bubble Float Bottom */
.hvr-bubble-float-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom:before {
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 10px);
  bottom: 0;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #e1e1e1 transparent transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-bubble-float-bottom:hover, .hvr-bubble-float-bottom:focus, .hvr-bubble-float-bottom:active {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
.hvr-bubble-float-bottom:hover:before, .hvr-bubble-float-bottom:focus:before, .hvr-bubble-float-bottom:active:before {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

/* Push */
@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hvr-push {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* gallery */
.gallery {
    overflow: hidden;
}
.gallery:after {
    content: "";
    display: inline-block;
    width: 100%;
}
.gallery .mix {
    color: #FFFFFF;
    display: none;
    font-size: 30px;
    margin: 0 0 30px;
    opacity: 0;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
}
.gallery .mix.full {
    height: auto;
}
.gallery a.mix-cover img {
    width: 100%;

}
.gallery a.mix-cover, .gallery span.cover {
    background-color: #FFFFFF;
    border-radius: 4px 4px 0 0;
    display: block;
    overflow: hidden;
}
.gallery.portfolio a.mix-cover, .gallery.portfolio a.mix-cover .overlay {
    border-radius: 4px;
}
.gallery .mix a img, .gallery .mix a span.overlay {
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
}
.gallery a.mix-cover {
    position: relative;
    transition: top 0.5s ease 0s;
}
.gallery span.cover {
    background-color: #F4D432;
    position: absolute;
    top: -100%;
}
.gallery span.cover span {
    color: #FFFFFF;
    height: 50px;
    left: 0;
    line-height: 50px;
    margin-top: -25px;
    position: absolute;
    right: 0;
    top: 50%;
}
img.placeholder {
    height: 100%;
    width: 100%;
}

/* Overlay */
.overlay {
    background-color: rgba(7, 7, 7, 0.26);
    border: 0 solid rgba(255, 255, 255, 0.2);
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.3s ease 0s;
    z-index: 9;
	height:100%;
	width:100%;
	cursor:pointer;
}
.overlay:hover {
    opacity: 1;
}
.overlay i, .overlay span.title {
    color: #FFFFFF;
    font-size: 40px;
    position: relative;
    top: -60px;
    transition: all 0.3s ease 0s;
}
.overlay span.title {
    font-size: 30px;
}
.overlay:hover i, .overlay:hover span.title {
    top: 10px;
}

span.valign {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}


/* .modal-body {
width:auto !important;
height:auto !important;
}
.modal-dialog {
width:60% !important;
} */
